body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Microsoft Yahei";
}

a {
    color: inherit;
    text-decoration: none;
}

i,
em {
    font-style: normal;
}

.u-selectTrigger {
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    background: #ccc;
}

.screenCover {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: linear .2s;
    -moz-transition: linear .2s;
    -ms-transition: linear .2s;
    -o-transition: linear .2s;
    transition: linear .2s;
    /* background: blue; */
}

.screenCover.show {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.screenCnt {
    position: absolute;
    width: 88%;
    height: 100%;
    right: 0;
    left: auto;
    background: #fff;
    z-index: 1001;
    overflow-y: auto;
    box-shadow: 0 0 5px #ccc;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    background: #fff;
}

.screenCnt > header {
    text-align: right;
    height: 44px;
    line-height: 44px;
    background: #fff;
}

.screenCnt .bd .cnt ul {
    clear: both;
    overflow: hidden;
    margin: 0;
    padding: 10px 4px 10px 10px;
}

.screenCnt .bd .cnt ul li {
    float: left;
    /* width: 93px; */
    margin: 1px 0;
    list-style: none;
}

.screenCnt .bd .cnt ul li a {
    display: inline-block;
    padding: 5px 21px 6px;
    border: 1px solid transparent;
}

.screenCnt .bd .cnt ul li a:active {
    /*background: #f1f1f1;*/
}

.screenCnt .bd .cnt ul li.active a {
    color: #6bd3d4;
    border: 1px solid #6bd3d4;
    border-radius: 3px;
}

.u-btnSure {
    height: 44px;
    width: 80px;
    -webkit-appearance: none;
    outline: none;
    color: #666;
    border: none;
    background: none;
    font-family: "Microsoft Yahei";
}

.class-primary {
    height: 28px;
    line-height: 28px;
    color: #fff;
    padding-left: 10px;
    border-width: 1px 0 1px 0;
    border-color: #01ADAF;
    border-style: solid;
    background: #02b4b6;
}
.class-primary:active {
    background: #009FA0;
}

.i-point {
    display: inline-block;
    float: right;
    width: 8px;
    height: 8px;
    margin: 7px 10px;
    border-width: 1px 1px 0 0;
    border-color: #fff;
    border-style: solid;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: linear .1s;
    -moz-transition: linear .1s;
    -ms-transition: linear .1s;
    -o-transition: linear .1s;
    transition: linear .1s;
}

.class-primary.hide .i-point {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate45deg);
}

.class-second {
    height: 34px;
    line-height: 34px;
    color: #666;
    padding-left: 10px;
    border-bottom: 1px solid #e3e3e3;
    background: #f2f2f2;
}

.class-second:active {
    background: #d6d6d6;
}

.class-second .selected,
.class-primary .selected {
    float: right;
}

.i-showHide:after {
    float: right;
    display: inline-block;
    width: 20px;
    content: '-';
    font-size: 24px;
    height: 18px;
    line-height: 15px;
    /* border: 1px solid #000; */
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    margin: 5px;
    color: #fff;
    background: #02b4b6;
    -webkit-transition: linear .1s;
    -moz-transition: linear .1s;
    -ms-transition: linear .1s;
    -o-transition: linear .1s;
    transition: linear .1s;
}

.class-second.hide .i-showHide:after {
    content: '+';
    color: #fff;
    font-size: 18px;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    background: #c2c2c2;
}

.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: red; */
    z-index: 0;
}

.dbno {
    display: none;
}
