/* common */

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

.wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* index_page */

.site-nav {
    height: 78px;
    overflow: hidden;
}

.site-nav .wrap {
    position: relative;
}

.site-nav h1 {
    position: absolute;
    width: 0;
    height: 0;
    top: 12px;
    left: 22px;
    padding: 55px 0 0 224px;
    overflow: hidden;
    background: url(../images/logo.png);
}

.site-nav .nav-list {
    position: relative;
    float: right;
    z-index: 999;
    background: #fff;
}

.site-nav .nav-list li {
    float: left;
    height: 78px;
    line-height: 78px;
    font-size: 16px;
}

.site-nav .nav-list li a {
    display: block;
    padding: 0 18px;
    color: #000;
}

.site-nav .nav-list li a:hover {
    color: #0082a3;
    background: #f9f9f9;
}

.site-nav .nav-list li.cur a {
    color: #fff;
    border-top: 4px solid #0082a3;
    background: #4f4f4f;
}

.mainContent h2 {
    font-size: 3.6rem;
    text-align: center;
    line-height: 2.5em;
    margin-top: 40px;
}

.sub-title {
    font-size: 1.6rem;
    padding: 0 10px;
    text-align: center;
}

.g-solution .bd {
    margin-top: 10px;
    overflow: hidden;
}

.g-solution .bd ul li {
    float: left;
    width: 16%;
    text-align: center;
    margin: 40px 8.666666666666666%;
}

.g-solution .bd ul li img {
    -webkit-transition: linear 2s;
    -o-transition: linear 2s;
    transition: linear 2s;
    width: 71.27659574468085%;
    background: url(../images/bg-icon-solu.png);
    background-size: 100%;
}

.g-solution .bd ul li:hover img {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    background: url(../images/bg-icon-soluHover.png);
    background-size: 100%;
}

.g-solution .bd ul li h3 {
    font-size: 1.8rem;
    margin-top: 1em;
    padding: 10px 0;
    color: #292d31;
    font-weight: bold;
}

.g-solution .bd ul li:hover h3 {
    color: #376fb0;
}

.g-solution .bd ul li h3:hover,
.g-solution .bd ul li h3:active {
    color: #376fb0;
}

.g-solution .bd ul li p {
    font-size: 1.4rem;
    line-height: 1.5em;
    text-align: left;
    text-indent: 1em;
    color: #7f7f7f;
}

.g-advantage {
    height: 454px;
    margin-top: 40px;
    padding-bottom: 100px;
    background: #24676b;
    overflow: hidden;
}

.g-advantage .wrap {
    max-width: 992px;
}

.g-advantage h2,
.g-advantage .sub-title {
    color: #fff;
}

.g-advantage .bd {
    margin-top: 40px;
}

.g-advantage .bd ul li {
    cursor: default;
    float: left;
    width: 21.57258064516129%;
    text-align: center;
    margin: 0 1.7137096774193559%;
    padding: 0 2% 3%;
    box-sizing: border-box;
    background: #fff;
}

.g-advantage .bd ul li:hover{
    margin-top: -2px;
}
.g-advantage .bd ul li img {
    width: 40%;
    margin-top: -4px;
    background: #343638;
    border: 2px solid #fff;
    -webkit-transition: linear .2s;
    -o-transition: linear .2s;
    transition: linear .2s;
}

.g-advantage .bd ul li:hover img {
    background: #ba0000;
}

.g-advantage .bd ul li h3 {
    font-size: 1.8rem;
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
}

.g-advantage .bd ul li:hover h3 {
    color: #ba0000;
}

.g-advantage .bd ul li h3:hover {
    color: #ba0000;
}

.g-advantage .bd ul li p {
    color: #7f7f7f;
    margin-top: 20px;
    font-size: 1.4rem;
    line-height: 1.5em;
    text-align: left;
}

.g-aboutUs .bd {
    margin: 40px 0;
    overflow: hidden;
}

.g-aboutUs .m-cxt {
    float: left;
    width: 42%;
    margin-right: 2%;
    margin-top: 40px;
    margin-left: 10px;
}

.g-aboutUs .m-cxt h3 {
    font-size: 3rem;
    line-height: 2em;
    margin-bottom: 40px;
}

.g-aboutUs .m-cxt h3 em {
    display: inline-block;
    font-size: 4.8rem;
    color: #003deb;
}

.g-aboutUs .m-cxt p {
    margin-top: 1em;
    font-size: 14px;
    line-height: 1.5em;
}

.g-aboutUs .m-picWrap {
    overflow: hidden;
}

.g-aboutUs .m-picWrap ul li {
    float: left;
    /* margin: 10px; */
    width: 33.33%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.g-aboutUs .m-picWrap ul li img {
    width: 100%;
}
.g-aboutUs .m-picWrap ul li:hover img{
    -webkit-transition: linear .2s;
    -o-transition: linear .2s;
    transition: linear .2s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);

}
.g-ourAdvantage {
    overflow: hidden;
    padding-bottom: 60px;
    background: url(../images/bg-ourAdv.jpg) repeat center top;
}

.g-ourAdvantage .wrap {
    max-width: 942px;
}

.g-ourAdvantage .bd {
    margin-top: 40px;
}

.g-ourAdvantage ul li {
    float: left;
    width: 33.3333%;
    text-align: center;
}

.g-ourAdvantage ul li>img {
    width: 100%;
}

.g-ourAdvantage ul li .m-txt {
    position: relative;
    background: #fd7237;
    padding: 20px 10%;
    color: #fff;
}

.g-ourAdvantage ul li .m-txt h3 {
    font-size: 30px;
    padding: 14px 0;
}

.g-ourAdvantage ul li .m-txt p {
    text-align: left;
    font-size: 14px;
    line-height: 1.2em;
    text-indent: 1em;
}

.g-ourAdvantage ul li .m-txt:after {
    position: absolute;
    content: '';
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid #fd7237;
    left: 50%;
    bottom: -14px;
    margin-left: -14px;
}

.g-ourAdvantage ul li.second .m-txt {
    background: #2088be;
}

.g-ourAdvantage ul li.second .m-txt:after {
    border-top: 14px solid #2088be;
}

.g-ourAdvantage ul li.third .m-txt {
    background: #ecffd8;
}

.g-ourAdvantage ul li.third .m-txt h3 {
    color: #292d31;
}

.g-ourAdvantage ul li.third .m-txt p {
    color: #7f7f7f;
}

.g-ourAdvantage ul li.third .m-txt:after {
    bottom: auto;
    top: -28px;
    border-bottom: 14px solid #ecffd8;
    border-top: 14px solid transparent;
}

.g-focus {
    color: #fff;
    background: #000;
}

.g-focus .wrap {
    max-width: 942px;
    padding: 40px 0;
    overflow: hidden;
}

.g-focus ul li {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 0 8px;
}

.g-focus ul li h3 {
    font-size: 1.8rem;
    line-height: 3em;
}

.g-focus ul li .item {
    font-size: 1.4rem;
    margin-top: 14px;
}

.g-focus ul li .item a,
.g-focus ul li .item span {
    display: block;
    line-height: 2em;
}

.g-focus ul li .item a:hover {
    color: #376fb0;
}

.g-copyright {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: #3f3f3f;
}

@media screen and (max-width: 414px) {
    html {
        font-size: 45%;
    }
    .flex-control-paging li a {
        width: 6px !important;
        height: 6px !important;
    }
    .site-nav {
        display: none;
    }
    .mainContent h2 {
        margin-top: 30px;
    }
    .g-solution .bd ul li {
        width: 32.66666666666667%;
        margin: 20px 8.666666666666666%;
    }
    .g-advantage{
        height: auto;
    }
    .g-advantage .bd ul li {
        width: 44%;
        height: 200px;
        margin: 20px 3%;
        padding: 0 3% 3%;
    }
    .g-advantage .bd ul li h3 {
        padding: 10px 0;
    }
    .g-advantage .bd ul li p {
        margin-top: 10px;
    }
    .g-aboutUs .m-cxt {
        float: none;
        width: auto;
        padding: 10px;
        margin-top: 0;
    }
    .g-aboutUs .bd {
        margin-top: 20px;
    }
    .g-aboutUs .m-cxt h3 {
        font-size: 14px;
        text-align: center;
        background: #000;
        color: #fff;
        margin-bottom: 20px;
    }
    .g-aboutUs .m-cxt h3 em {
        font-size: 14px;
        color: #fff;
    }
    .g-aboutUs .m-cxt p {
        text-indent: 2em;
    }
    .g-aboutUs .m-picWrap ul li {
        width: 50%;
        margin: 0;
        text-align: center;
    }
    .g-aboutUs .m-picWrap ul li:nth-child(3),
    .g-aboutUs .m-picWrap ul li:nth-child(4),
    .g-aboutUs .m-picWrap ul li:nth-child(5),
    .g-aboutUs .m-picWrap ul li:nth-child(6) {
        display: none;
    }
    .g-ourAdvantage .bd {
        margin-top: 20px;
    }
    .g-ourAdvantage ul li img {
        display: none;
    }
    .g-focus ul li {
        width: 100%;
        float: none;
        text-align: center;
    }
    .g-focus ul li .item a {
        display: inline-block;
    }
    .g-focus .wrap {
        padding: 20px 0;
    }
    .g-focus ul li .item {
        margin-top: 0;
    }
    .g-focus ul li h3 {
        margin-top: 10px;
        padding: 10px 0;
        line-height: 1em;
    }
    .g-ourAdvantage ul li .m-txt:after {
        display: none;
    }
}
